.button-group {
  display: flex;
  flex-direction: row;
}
.button-group.sp-btw {
  justify-content: space-between;
}
.button {
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #25354f;
  box-sizing: border-box;
  border: 1px solid white;
}
.button-red-wrap {
  display: flex;
}
.button-red {
  color: #cc4b37;
  border-color: #cc4b37;
  background-color: rgba(0, 0, 0, 0);
}
.button.button-red:hover {
  /* background-color: #cc4b37; */
  background-color: rgba(204, 75, 55, 0.5);
  color: white;
}
.button.button-red-confirm {
  color: white;
  border-color: #cc4b37;
  background-color: rgba(204, 75, 55, 0.5);
  border-right: none;
}
.button.button-red-cancel {
  color: #888;
  border-color: #888;
  background-color: rgba(0, 0, 0, 0);
  border-left: none;
}

.button:hover {
  cursor: pointer;
  /* background-color: #25354f; */
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}
