.edit-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-image .image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  max-width: calc(100vw - 30px);
  max-height: calc(100vw - 20%);
}

.image-container .media {
  flex: 1;
  max-width: 100%;
  height: auto;
  max-height: calc(100vw - 30vw);
  border: 5px solid rgba(255, 255, 255, 1);
}

.edit-image-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.edit-image-tags .tag:not(:last-child) {
  margin-right: 5px;
}

.links {
  display: flex;
  flex-direction: column;
}
.links .link-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}
.links .link-item:not(:last-child) {
  margin-bottom: 5px;
}
.links .link-item .link-label {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  padding: 2px 8px;
}
.links .link-item .link {
  padding: 2px 8px;
  overflow-wrap: break-word;
}
