.edit-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.edit-image .image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container .media {
  max-width: calc(100vw - 30px);
  max-height: calc(100vw - 20%);
}

.edit-image-tags {
  display: flex;
  flex-direction: row;
}
