.gallery-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.gallery-image {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0);
  width: calc(calc(470px / 3));
  height: calc(calc(470px / 3));
  background-color: white;
  overflow: hidden;
}
.gallery-image:hover {
  border: 1px solid black;
  cursor: pointer;
}
.gallery-image img {
  width: 100%;
  min-width: calc(calc(470px / 3));
  min-height: calc(calc(470px / 3));
}
