html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 500px;
  /*min-height: 500px;*/
}
a {
  color: white;
}
#app {
  display: block;
  width: 100%;
}
.gallery {
  display: flex;
  flex-direction: column;
  /*min-height: 500px;*/
}
.add-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form-row {
  flex: 1;
  text-align: center;
}
.form-row img {
  max-width: 50%;
}

.gallery-content {
  padding: 15px;
  /* background-color: #25354f; */
  flex: 1;
}

.top-button-bar {
  margin-bottom: 15px;
}

.content-section:not(:last-child) {
  margin-bottom: 15px;
}

.gallery-images video.media {
  object-fit: cover;
}

input {
  border: 2px solid #444;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  color: #25354f;
  background-color: rgba(255, 255, 255, 0.7);
}
input:focus {
  background-color: rgba(255, 255, 255, 1);
}
