html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 500px;
  /*min-height: 500px;*/
}
#app {
  display: block;
  width: 100%;
}
.gallery {
  display: flex;
  flex-direction: column;
  /*min-height: 500px;*/
}
.add-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form-row {
  flex: 1;
  text-align: center;
}
.form-row img {
  max-width: 50%;
}

.gallery-content {
  padding: 15px;
  background-color: #25354f;
  flex: 1;
}

.top-button-bar {
  margin-bottom: 15px;
}

.content-section:not(:last-child) {
  margin-bottom: 15px;
}
.button-group {
  display: flex;
  flex-direction: row;
}
.button-group.sp-btw {
  justify-content: space-between;
}
.button {
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #25354f;
  box-sizing: border-box;
  border: 1px solid white;
}
.button-red {
  color: #cc4b37;
  border-color: #cc4b37;
  background-color: rgba(255, 255, 255, 0);
}
.button.button-red:hover {
  background-color: #cc4b37;
  color: white;
}

.button:hover {
  cursor: pointer;
  background-color: #25354f;
  color: white;
}
