.menu-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-bar-item {
  border-top: none;
  border-bottom: none;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: lightslategrey;
  background-color: gainsboro;
  cursor: pointer;
  padding: 6px 0px;
}
.menu-bar-item:hover {
  opacity: 0.8;
}
.menu-bar-item.active {
  border: none;
  color: white;
  background-color: #25354f;
}
