.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pagination-section {
  flex: 1;
}

.prev-next {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.prev-next:hover {
}

.page-num-list {
  font-family: 'Roboto';
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
}
